.place__button-nft {
    text-decoration: none;
    border: none;
    color: #ffffff;
    padding: 13px 20px;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }