.photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px 16px;
    position: relative;
    margin-left: 48px;
    display: grid;
    margin-right: 48px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        margin: 0 24px 88px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .photo-grid {
        display: flex;
        margin: 0 auto 64px;
        max-width: calc(100% - 32px);
        flex-direction: column;
    }
}