
.places {
  margin: 92px auto;
  max-width: 984px;
  display: flex;
  padding: 0;
}


@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    margin: 88px 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 64px 0 0;
    max-width: 100%;
  }
}