.place__image {
    max-width: 100%;
    max-height: 100%;
    grid-area: img;
}

@media screen and (max-width: 768px) {
    .place__image {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
}