.cover__button-tickets {
    padding: 13px 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    max-width: 137px;
    align-content: center;
    background-color: #0278FE;
    max-height: 48px;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
}

.cover__button-tickets:hover {
    background-color: #0063D2;
    opacity: 0.8;
}

@media screen and (max-width: 1280px) {
    .cover__button-tickets {
        width: 97px;
    }
}

@media screen and (max-width: 320px) {
    .cover__button-tickets {
        margin: 0;
    }
}