.cover__quote {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    max-width: 280px;
    padding: 0;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
    .cover__quote {
        width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .cover__quote {
        line-height: 16px;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 200px;
        font-size: 14px;
    }
}