.cover__quote {
    list-style: none;
    font-style: normal;
    font-weight: normal;
    max-width: 270px;
    padding: 0;
    margin: 0 auto 32px;
    text-align: center;
    font-size: 18px;
    line-height: 122%;
  }