.place__button {
    grid-area: btn;
    width: 248px;
    align-content: center;
    text-align: center;
    background-color: #0278fe;
    border-radius: 4px;
    max-height: 22px;
    max-width: 208px;
    text-decoration: none;
    border: none;
    color: #ffffff;
    padding: 13px 20px;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 0;
}

.place__button:hover {
    background-color: #0063d2;
}

.place__button:last-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 534px) {
    .place__button {
        width: 288px;
        margin: 30px 16px 0;
    }
}

@media screen and (max-width: 768px) {
    .place__button {
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    .place__button {
        margin-top: 30px;
        width: 288px;
    }
}