.header {
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
    margin-top: 0px;
    justify-content: center;
  }
