.cover__hover {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-image: url(../../../images/background.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.7;
  }

  