.intro__quote {
    font-weight: normal;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 142%;
}

@media screen and (max-width: 768px) {
    .intro__quote {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro__quote {
        margin: 40px auto 0;
        line-height: 30px;
    }
}