.place__text {
    grid-area: text;
  }
  
  .place__text:last-child {
    padding-bottom: 0;
    max-width: 100%;
  }

  @media screen and (max-width: 768px) {
    .place__text {
      margin: auto 0;
    }
  }