.lead__title {
    max-width: calc(100% - 194px);
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .lead__title {
      line-height: 110%;
      font-size: 40px;
    }
  }