.places__list {
    padding: 0;
    list-style: none;
    max-width: 984px;
    margin: 0 auto;

}

@media screen and (max-width: 768px) {
    .places__list {
        max-width: 100%;
        flex-direction: column;
    }
}