.intro__text {
    font-style: normal;
    font-weight: normal;
    line-height: 163%;
    font-size: 16px;
    margin: 0px;
    max-width: 720px;
}

@media screen and (max-width: 1280px) {
    .intro__text {
        width: 720px;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        margin: 32px auto 0;
        max-width: 100%;
    }
}