.intro__text {
    font-style: normal;
    font-weight: normal;
    width: 70%;
    line-height: 163%;
    font-size: 16px;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        margin: 40px auto 0;
        max-width: 100%;
    }
}