        .intro {
            max-width: 720px;
            margin: 0 auto 118px;
            margin-left: auto;
            margin-right: auto;
        }
        
        @media screen and (max-width: 982px) {
            .intro {
                margin-left: 16px;
                margin-right: 16px;
            }
        }
        
        @media screen and (max-width: 786px) {
            .intro {
                margin: 0 24px 90px;
                max-width: calc(100% - 48px);
            }
        }
        
        @media screen and (max-width: 320px) {
            .intro {
                margin: 0 16px 90px;
                max-width: 100%;
            }
        }