.page__home {
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .page__home {
        margin: 0;
    }
}