.lead__subtitle {
    text-align: center;
    margin: 0 auto 64px;
    font-style: normal;
    font-weight: normal;
    width: calc(100% - 264px);
    padding: 0;
    font-size: 30px;
    line-height: 120%;
}

    
@media screen and (max-width: 600px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
    }
}