.lead__subtitle {
    text-align: center;
    margin: 0 auto 64px;
    font-style: normal;
    font-weight: normal;
    width: calc(100% - 264px);
    padding: 0;
    font-size: 30px;
    line-height: 120%;
}

@media screen and (max-width: 786px) {
    .lead__subtitle {
        margin: 0 24px 36px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}