.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    display: flex;
    position: relative;
    text-align: center;
    background-image: url(../../images/background.jpg);
    background-size: cover;
}

@media screen and (max-width: 1280px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        min-height: 254px;
        margin-top: 64px;
    }
}