  .cover__title {
      max-width: 656px;
      font-weight: 900;
      font-size: 72px;
      font-style: normal;
      margin: 0 auto 42px auto;
      line-height: 106%;
  }
  
  @media screen and (max-width: 320px) {
      .cover__title {
          font-size: 32px;
          margin-bottom: 16px;
      }
  }