                 .place {
                     width: 100%;
                     grid-template-columns: repeat(2, 1fr);
                     grid-template-rows: min-content min-content 1fr;
                     display: grid;
                     margin: 0 0 80px;
                     grid-gap: 48px 40px;
                     grid-template-areas: "title website" "img text" "btn text";
                 }
                 
                 .place:last-child {
                     margin-bottom: 0;
                 }
                 
                 @media screen and (max-width:1280px) {
                     .place {
                         grid-gap: 48px 32px;
                         grid-template-columns: 440px 1fr;
                     }
                 }
                 
                 @media screen and (max-width:768px) {
                     .place {
                         grid-gap: 48px 28px;
                         grid-template-columns: 340px 1fr;
                         flex-direction: column;
                         margin-bottom: 72px;
                     }
                 }
                 
                 @media screen and (max-width: 650px) {
                     .place {
                         grid-template-areas: "title" "website" "img" "text" "btn";
                         grid-template-columns: 1fr;
                         grid-gap: 0;
                         margin: 0 0 50px;
                     }
                 }