    .place__website {
        grid-area: website;
        max-width: 456px;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .place__website:last-child {
        margin-bottom: 0;
    }
    
    @media screen and (max-width: 650px) {
        .place__website {
            align-self: flex-start;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    
    @media screen and (max-width: 320px) {
        .place__website {
            margin-top: 30px;
            font-size: 18px;
            width: 288px;
            margin-left: 16px;
            margin-right: 16px;
        }
    }